backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
futures==3.0.4
gevent==1.0.2
greenlet==0.4.9
grequests==0.2.0
peewee==2.8.0
psycopg2==2.6.1
py==1.4.31
pycurl==7.21.5
pyTelegramBotAPI==1.4.1
pytest==2.8.5
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
ujson==1.34
